.about
  :markdown
    I am a software developer, Linux user and all-round nerd from Europe.
    I'm on the web fairly often, e.g.

    * [twitter](http://twitter.com/eddsteel)
    * [delicious](http://delicious.com/esteel)
    * [stack overflow](http://stackoverflow.com/users/587717/edd-steel)
    * [stack overflow careers](http://careers.stackoverflow.com/eddsteel)
    * [github](http://github.com/eddsteel)
    * [reddit](http://reddit.com/user/eddsteel)
    * [google+](https://plus.google.com/109676997475000588654)
    * [flickr](http://flickr.com/photos/eddsteel)

    I've spent the first part of my career learning the ropes while helping
    fairly large organisations make fairly large sums of money a little more
    effectively.  This allowed me to work with exciting technologies and learn
    from very smart people, but gave me the intent to do something that actually
    helps people with real problems in my next position.

    I like to fulfill my role well, I like to fix things at the right level
    rather than through tiers of enterprise layerware. I like to design my
    software to be loosely coupled, cohesive and understandable. I have been
    doing this with Java for the last five years professionally, and ruby,
    javascript and (with faltering first steps) haskell on my own time -- not to
    mention zsh, rake, SSH and the usual UNIX glue. I like to work with web
    technologies at the front and back end. I have lead a team creating and
    maintaining a SOAP-based RPC scoring system that integrates with
    mainframes and big iron servers and written one-file web apps that
    solves a simple with the minimum of fuss (and the appropriate
    features of HTTP). The latter probably gave me more satisfaction.

    As far as my working environment goes, I like linux, git, the command line
    and Vim. I like to be able to do a lot with a few home row keystrokes, and
    finding my needs anticipated by the author of a manpage. I like to pipe
    together small cohesive tools through the universal language of plain text.
    I like to use tools that gentlemen with large beards have spent time
    polishing to a sharp point.

.bio
  Edd lives in Gastown, Vancouver, BC in Canada with his fiancée and cats.
