:markdown
  Edd is a software developer, Linux user and all-round nerd from Europe.
  He's on the web fairly often, e.g.

  * [twitter](http://twitter.com/eddsteel)
  * [delicious](http://delicious.com/esteel)
  * [github](http://github.com/eddsteel)
  * [reddit](http://reddit.com/user/eddsteel)
  * [google+](https://plus.google.com/109676997475000588654)
  * [flickr](http://flickr.com/photos/eddsteel)

  He has worked as an enterprise Java developer and plays with ruby, haskell and
  javascript in his spare time. His [résumé](/resume) is online and may even be
  up to date.

  He lives in Gastown, Vancouver, BC in Canada with his fiancée and cats.
