!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %title<
      = title
    %link{:rel => 'stylesheet', :href => rurl('/style.css')}
    %link{:rel => 'stylesheet', :href => rurl('/fonts.css')}
  %body.cloud
    %section#header
      %header.main
        %hgroup
          %h1 Edd's
          %h2 Cloud
    %section#main
      -if @title
        %h2
          =@title
      =yield
    %footer#more
      - if @next_key
        %a{:href=>rurl("/more/#@next_key")}
          More
      - else
        = "&\##{9748}";
