/**
 * palette: white, 3 greys, black, blue.
 * #fff
 * #eee
 * #555
 * #333
 * #000
 * #d0e0e5
 *
 * TODO: 
 * finish gridding.
 * check everything's properly paragraphed.
 *
 */
body, h1, h2, h3, h4, h5, h6, div, ol, ul, li,
p, th, td, blockquote, pre, section, header,
footer, article, nav {
	margin:0;
	padding:0;
}

body {
  height: 100%;
  min-height: 100%;
  font-size: 90%;
  line-height: 1.5;
  font-family:  'Fontin Sans', 'Helvetica', 'Arial', sans-serif;
  color: #333;
  background-color: #eee;
  border-top: 7px solid #d0e0e5;
}

h1,h2,h3,h4,h5,h6 {
  font-family:  'Bookman', 'Times New Roman', 'Times', serif;
}

/*
 * if em is font-size for this element and EM is font-size
 * of parent.
 */
h1 {
	/* line height: 1.8EM */
	font-size: 1.2em;
	/* lh + (pad * fs) = 3EM */
	padding: 0.5em 0 0.5em 0;
}

h2 {
	font-size: 1.1em; /*lh: 1.65*/
	/* lh + (pad * fs) = 3EM */
	padding: 0.613636363em 0;
}

h3 {
	font-size: 1.05em;
}

h4 {
	font-size: 1em;
	font-style: italic;
}

h5 {
	font-size: 1em;
}

h6 {
	font-style: 1em;
	font-weight: normal;
	font-style: italic;
}

article footer {
	font-size: 0.8em; /* line height 1.2EM */
	padding: 0.1875em 0; /* lh + (pad * fs) = 1.5EM */
	
}

.cloud {
  background: #fff;
  background: -moz-linear-gradient(bottom, #eee, #fff);
  background: -webkit-gradient(linear, left top, 
  	left bottom, from(#fff), to(#eee));
}

html {
  background: #eee;
}

article:hover a {
	border-bottom-style: dotted;
}

a {
  color: #000;
  text-decoration: none;
  border-color: #555;
  border-width: 1px;
  border-style: none;
}

a:hover,article:hover a:hover {
	color: #333;
	border-bottom-color: #333;
	border-bottom-style: solid;
}

a:visited {
  color: #555;
}

article, section, footer { display:block;}


article {
  margin: 0 auto 3em auto;
}

footer {
  margin: 0 auto;
}


section {
  margin: 0 auto;
  text-align: justify;
}

section#main {
  width: 40em;
  clear:both;
  padding-bottom: 3em;
}

section#main h2 {
  margin: 0 auto;
  text-align: right;
}

.contents {
}

.contents ul {
  padding: 0px;
  width: 30%;
  float: left;
  margin-right: 3%;
  margin-left: 0px;
  list-style-type: none;
}

article {
}

section.content {
}


article footer, article footer a {
  color: #555;
  border-bottom-color: #777;
}

article footer span {
  margin: 0 0.75em 0 0;
}

article footer a:hover {
	color: #999;
	color: #777;
}


/* header */

.cloud header
{
  border-top: 5px solid #eee;
  text-align: center;
	display: block;
	padding: 0em 0em 0em 0em;
}

.cloud header hgroup
{
	display: block;
  margin: 0 auto;
}

.cloud header h1
{
	display: block;
	font-size: 2em; /*lh: 3EM*/
	padding: 0 0 0 1.5em;
}

.cloud header h1 span {
  border: 1px none #000;
}

.cloud header h2
{
	display: block;
	color: #e0e0e0;
  text-shadow: 0px 0px 0.1em #d5d5d5;
  -moz-text-shadow: 0px 0px 0.1em #d5d5d5;
  -webkit-text-shadow: 0px 0px 0.1em #d5d5d5;
	line-height: 1;
  font-size: 6em; /*lh: 6EM */
  font-style: normal;
  padding: 0 0 0.1em 0; /* These lines shift title */
  margin: -0.35em 0 0 0; /*  up 0.25em - 1.5EM */
}

.cloud header h2 span {
  border: 1px none #e0e0e0;
}

header.main:hover h1 span {
	border-bottom-style: dotted;
}


/*
 * Footer
 */

footer#more, footer#end
{
	/* line height: 1.8EM */
	font-size: 1.2em;
	/* lh + (pad * fs) = 3EM */
	padding: 0.5em 0 0.5em 0;
  text-align: center;
  clear: both;
}

footer#end
{
  margin-top: 9em;
}

footer#more
{
  color: #eee;
  background: black;
  background: -moz-linear-gradient(bottom, #000, #555);
  background: -webkit-gradient(linear, left top, left bottom,
    from(#555), to(#000));
}

footer#more a
{
  color: #d0e0e5;
  margin: 0;
}

blockquote {
  margin: 0 0;
  border-left: 3px solid #D0E0F5;
  padding: 0 0 0 3em;
  font-style: italic;
}

blockquote em, blockquote a {
  font-style: normal;
}

/*---------------------------- */

/*grid*/
.grid {
	position: absolute;
	top: 12px;
	width: 100%;
	overflow: hidden;
}
.gridline {
	margin-top: -1px;
	border-bottom: 1px solid blue;
	position: relative;
	display: none;
	height: 1.5em;
}
